.logo, .miniLogo {
  position: relative;
  width: 80px;
  display: inline-block;
  font-family: poynter-oldstyle-display, serif;
  font-size: 32px;
  font-weight: 400;

  span {
    position: absolute;
    font-size: 16px;
  }
}

.miniLogo {
  font-size: 24px;
}