.logo, .miniLogo {
  position: relative;
  width: 90px;
  display: inline-block;
  font-family: 'PoynterOSDisp', serif;
  font-size: 34px;
  font-weight: 400;
  span {
    position: absolute;
    font-size: 18px;
  }
}

.miniLogo {
  font-size: 24px;
}