.navigation {
  position: relative;

  nav {
    position: fixed;
    background: white;
    height: 60px;
    display: grid;
    align-items: center;
    width: 100%;
    z-index: 40;
    @include dropShadow;
    //border-bottom: 1px solid black;

    .navCenter {
      display: grid;
      align-items: center;
      grid-template-columns: 80px auto 80px;
      padding: 0 30px;

      .logoCon {
        display: grid;
        justify-items: center;
        text-align: center;
      }

      .contact {
        font-size: 13px;
        text-align: right;
        font-weight: 200;
      }
    }
  }

  .mobileMenu {
    position: fixed;
    height: 100vh;
    min-width: 200px;
    width: 30vh;
    padding: 24px;
    background: rgb(248, 248, 248);
    z-index: 40;
    transform: translateX(-105%);
    transition: all 0.5s ease-in-out;

    .mobList {
      margin-top: 50px;
      opacity: 0;
      transform: translateX(-10%);
      transition: all 0.7s ease-in-out;

      .mobLink {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        @include underlineLinks;
      }

      .activeLink {
        color: $red;
        transition: all 0.25s ease-in-out;

        &:before {
          opacity: .3;
        }
      }
    }
  }

  .showMenu {
    transform: translateX(0);

    .mobList {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.navbarHidden {
  transform: translateY(-100%);
}

// BURGER && CLOSE BTNS
.burgerCon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  align-items: center;

  .burger,
  .burger::before,
  .burger::after {
    display: block;
    position: relative;
    width: 30px;
    height: 1px;
    background: rgb(0, 0, 0);
    transition: all 0.25s ease;
  }

  .burger::before {
    position: absolute;
    content: "";
    margin-top: -7px;
  }

  .burger::after {
    position: absolute;
    content: "";
    margin-top: 7px;
  }

  &:hover {
    .burger::before {
      transform: translateY(3px);
    }

    .burger::after {
      transform: translateY(-3px);
    }
  }
}

.closeContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  height: 30px;
  width: 28px;

  .close {
    position: relative;
    background: black;
    width: 28px;
    height: 1px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      background: black;
      width: inherit;
      height: inherit;
      z-index: 60;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;

    .close {
      transform: rotate(0deg);

      &:before {
        transform: rotate(90deg);
      }
    }
  }
}
