.divider {
  padding: 75px 0;
  background-color: rgb(251, 251, 251);
  display: grid;
  justify-items: center;

  .line {
    text-align: center;
    width: 80px;
    height: 2px;
    background: $black;
    margin-bottom: 10px;
  }

  h1 {
    color: $black;
    font-weight: 800;
  }
}