.headerBox {
  display: block;
  max-width: 1040px;
  padding-top: 25vh;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  z-index: 25;

  h1 {
    margin-top: 25px;
  }

  p {
    margin-top: 15px;
    max-width: 620px;
  }
}