.headerBox {
  display: block;
  max-width: 1640px;
  padding-top: 25vh;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  z-index: 25;

  h1 {
    margin-top: 16px;
    max-width: 680px;
  }

  p {
    margin-top: 10px;
    max-width: 620px;
  }

  @include respondTo(mobile) {
    padding-top: 20vh;
    padding-left: 16px;
    padding-right: 16px;

    p {
      margin-top: 8px;
      max-width: 620px;
    }
  }
}
