// $COLORS
$smoke: #f5f6f7;
$black: #080808;

@mixin gradientOverlay {
  background: rgba(29, 52, 80, 0.24);
  background: -moz-linear-gradient(top, rgba(29, 52, 80, 0.24) 0%, rgba(29, 52, 80, 1) 86%, rgba(29, 52, 80, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(29, 52, 80, 0.24)),
    color-stop(86%, rgba(29, 52, 80, 1)),
    color-stop(100%, rgba(29, 52, 80, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(29, 52, 80, 0.24) 0%,
    rgba(29, 52, 80, 1) 86%,
    rgba(29, 52, 80, 1) 100%
  );
  background: -o-linear-gradient(top, rgba(29, 52, 80, 0.24) 0%, rgba(29, 52, 80, 1) 86%, rgba(29, 52, 80, 1) 100%);
  background: -ms-linear-gradient(top, rgba(29, 52, 80, 0.24) 0%, rgba(29, 52, 80, 1) 86%, rgba(29, 52, 80, 1) 100%);
  background: linear-gradient(to bottom, rgba(29, 52, 80, 0.24) 0%, rgba(29, 52, 80, 1) 86%, rgba(29, 52, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3450', endColorstr='#1d3450', GradientType=0 );
}
