// $COLORS
$smoke: #f5f6f7;
$black: #080808;

@mixin gradientOverlay {
  background: rgba(21, 30, 46, 0.45);
  background: -moz-linear-gradient(top, rgba(21, 30, 46, 0.45) 0%, rgba(21, 30, 46, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(21, 30, 46, 0.45)),
    color-stop(87%, rgba(21, 30, 46, 1)),
    color-stop(100%, rgba(21, 30, 46, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(21, 30, 46, 0.45) 0%,
    rgba(21, 30, 46, 1) 100%
  );
  background: -o-linear-gradient(top, rgba(21, 30, 46, 0.45) 0%, rgba(21, 30, 46, 1) 100%);
  background: -ms-linear-gradient(top, rgba(21, 30, 46, 0.45) 0%, rgba(21, 30, 46, 1) 100%);
  background: linear-gradient(to bottom, rgba(21, 30, 46, 0.45) 0%, rgba(21, 30, 46, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151e2e', endColorstr='#151e2e', GradientType=0 );
}
